<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/output.css">
  <title>Admin | Fornecedores PAM</title> 
</head>
<body style="background-image: url('http://projamedida.pt/assets/backgrounds/home.png'); background-size: cover; ">
  <div class="w-screen flex justify-center items-center flex-col p-10">
    <div>
      <img src="http://projamedida.pt/assets/logotypes/300x300.png" alt="">
    </div>
    <button class="text-white text-2xl font-semibold w-64 h-16 rounded-lg shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] bg-orange-400 m-5">
      Fornecedores
    </button>
    <button class="text-white text-2xl font-semibold w-64 h-16 rounded-lg shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] bg-orange-400 m-5">
      Pedidos
    </button>
    <button class="text-white text-2xl font-semibold w-64 h-16 rounded-lg shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] bg-orange-400 m-5">
      Colaboradores
    </button>
  </div>
</body>
</html>