<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/output.css">
    <title>PAM Fornecedores | Forgot PWD</title>
</head>
<body>
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-48 h-48 mr-2" src="../images/Logo.png" alt="logo">    
        </a>
        <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
          <% if(error) { %>
            <div id="error-box" class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div id="message">
                    <%= error %>
                </div>
              </div>
        <% } if (success) { %>
          <div id="error-box" class="flex items-center p-4 mb-4 text-sm text-emerald-800 border border-emerald-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-emerald-400 dark:border-emerald-800" role="alert">
              <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">Info</span>
              <div id="message">
                  <%= success %>
              </div>
            </div>
      <% } %>
            <h1 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Forgot your password?
            </h1>
            <p class="font-light text-gray-500 dark:text-gray-400">Don't fret! Just type in your email and we will send you a code to reset your password!</p>
            <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" id="form" method="post" action="/forgot-password">
                <div class="flex flex-col items-start">
                    <div class="w-full mb-2">
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your E-mail:</label>
                      <input oninput="verifyEmail()" type="email" required name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-400 dark:focus:border-orange-400" placeholder="name@company.com" >
                      <p id="email-message" class="mt-2 text-xs text-red-600 dark:text-red-400"></p>    
                  </div>
                    <div class="flex flex-row">
                      <div class="flex items-center h-5">
                        <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-orange-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-orange-500 dark:ring-offset-gray-800" required="">
                      </div>
                      <div class="ml-3 text-sm">
                        <label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the <a class="font-medium text-orange-500 hover:underline dark:text-orange-400" href="#">Terms and Conditions</a></label>
                      </div>
                    </div>
                </div>
                <button type="submit" class="w-full text-white bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-orange-500 dark:hover:bg-orange-600 dark:focus:ring-orange-700">Reset password</button>
                <div class="w-full flex flex-row justify-between">
                  <p class="text-sm font-light text-gray-500 dark:text-gray-400 w-2/3">
                      do you wanna signIn? <a href="/login" class="font-medium text-orange-500 hover:underline dark:text-orange-400">Sign In</a>
                  </p>
              </div>
            </form>
        </div>
    </div>
  </section>    
  <script>
    function verifyEmail() {
      const email = document.getElementById('email');
      const regexEmail = new RegExp('[a-z0-9]+@[a-z]+\.[a-z]{2,3}');
      if(regexEmail.test(email.value)){
        unsetError("email");
        return true
      }
      else {
        setError("Please enter a valid email!", "email");
        return false;
      }
    }

    function setError(message, id){
      const label = document.getElementById(`${id}-message`);
      label.style.display = 'block'
      label.innerText = message;
    }

    function unsetError(id) {
      const label = document.getElementById(`${id}-message`);
      label.style.display = 'none';
    }

    const form = document.getElementById('form');
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      if(verifyEmail()) 
        form.submit();
      else 
        window.alert('Please enter all required fields');
    });
  </script>
</body>
</html>