<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/output.css">
  <title>Admin | Fornecedores PAM</title> 
</head>
<body style="background-image: url('http://projamedida.pt/assets/backgrounds/home.png'); background-size: cover; ">
  <div class="w-screen flex flex-col justify-center items-center text-center">    
      <img src="http://projamedida.pt/assets/logotypes/300x300.png" alt="">
    <div class="relative  w-screen flex justify-center overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-all text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-10 ">
                      Email
                  </th>
                  <th scope="col" class="px-10 ">
                      Empresa
                  </th>
                  <th scope="col" class="px-10 ">
                      Telefone
                  </th>
                  <th scope="col" class="px-10 ">
                      Email Foi Verificado
                  </th>
                  <th scope="col" class="px-10 ">
                      Nº de orçamentos
                  </th>
                  <th scope="col" class="px-10 ">
                      Ações
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-14 py-10 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      Apple MacBook Pro 17"
                  </th>
                  <td class="px-10 ">
                      Silver
                  </td>
                  <td class="px-10 ">
                      Laptop
                  </td>
                  <td class="px-10 ">
                      $2999
                  </td>
                  <td class="px-10 ">
                    $2999
                </td>
                  <td class="px-10 ">
                      <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar </a>
                      <a href="">   Excluir</a>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
    
  </div>
</body>
</html>


